{% set STATE_ACTIVE = constant('App\\Entity\\PersonInterface::STATE_ACTIVE') %}
{% set STATE_BANNED = constant('App\\Entity\\PersonInterface::STATE_BANNED') %}
{% set STATE_DELETED = constant('App\\Entity\\PersonInterface::STATE_DELETED') %}

<table id="people" class="table table-hover">
    <thead>
    <tr>
        <th>Login</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Status</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    {% for person in people %}
        {% set state = person.state %}
        {% if state == STATE_ACTIVE %}
            {% set state = 'Aktywny' %}
        {% elseif state == STATE_BANNED %}
            {% set state = 'Zbanowany' %}
        {% else %}
            {% set state = 'Usunięty' %}
        {% endif %}
        <tr>
            <td>{{ person.login }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ state }}</td>
            <td>
                <a href="{{ path('person_edit', {'id': person.id}) }}" class="btn btn-sm btn-primary">Edytuj</a>
                {% if person.state == STATE_DELETED %}
                    <a href="#"
                       class="btn btn-sm btn-success"
                       data-id="{{ person.id }}">Aktywuj</a>
                {% else %}
                    <a href="#"
                       class="btn btn-sm btn-danger"
                       data-id="{{ person.id }}">Usuń</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>